<h1>診断結果を見る</h1>  
<% @career_anchor.each do |career_anchor| %> 
<% if current_user.admin? %> 
    <li>
       <%= l career_anchor.created_at %>
       <%= link_to "#{career_anchor.user.name}さんの診断結果", career_anchor_path(career_anchor.id), method: :get %>
    </li> 
 <% elsif current_user.id == career_anchor.user_id %> 
    <li>
       <%= l career_anchor.created_at %>
       <%= link_to "#{career_anchor.user.name}さんの診断結果", career_anchor_path(career_anchor.id), method: :get %>
    </li> 
   <% elsif CareerAnchor.find_by(user_id: current_user.id) == nil %>
    <%= "診断結果はありません" %>
   <% break %>
  <% end %>
<% end %>