<h1> 診断結果の表示 </h1>
<div class ="career_anchors_btn">
<h3 class =career_anchors_btn1><%= link_to "編集する", edit_career_anchor_path(@career_anchor.id), method: :get %></h3>
<h3><%= link_to "削除する", career_anchor_path(@career_anchor.id), method: :delete %></h3>
</div>

<% th = @career_anchor.question_1 + @career_anchor.question_9 + @career_anchor.question_17 + @career_anchor.question_26 + @career_anchor.question_35 %>
<% gm = @career_anchor.question_2 + @career_anchor.question_10 + @career_anchor.question_21 + @career_anchor.question_30 + @career_anchor.question_36 %>
<% au = @career_anchor.question_3 + @career_anchor.question_11 + @career_anchor.question_18 + @career_anchor.question_31 + @career_anchor.question_38 %>
<% se = @career_anchor.question_5 + @career_anchor.question_12 + @career_anchor.question_19 + @career_anchor.question_25 + @career_anchor.question_37 %>
<% ec = @career_anchor.question_4 + @career_anchor.question_13 + @career_anchor.question_20 + @career_anchor.question_29 + @career_anchor.question_33 %>
<% sv = @career_anchor.question_7 + @career_anchor.question_14 + @career_anchor.question_22 + @career_anchor.question_28 + @career_anchor.question_34 %>
<% ch = @career_anchor.question_8 + @career_anchor.question_15 + @career_anchor.question_23 + @career_anchor.question_32 + @career_anchor.question_40 %>
<% ls = @career_anchor.question_6 + @career_anchor.question_16 + @career_anchor.question_24 + @career_anchor.question_27 + @career_anchor.question_39 %>
<%# column_chart [["専門職務別能力", th], ["経営管理能力", gm],["自律・独立", au], ["保障・安定", se],["起業家的創造性", ec], ["奉仕・社会貢献", sv],["純粋な挑戦", ch], ["生活様式", ls]] %>

<% type = [["専門職務別能力タイプ", th], ["経営管理能力タイプ", gm],["自律・独立タイプ", au], ["保障・安定タイプ", se],["起業家的創造性タイプ", ec], ["奉仕・社会貢献タイプ", sv],["純粋な挑戦タイプ", ch], ["生活様式タイプ", ls]]%>
<% type_dsc =  type.sort_by { |_, v| -v }.to_h %>
<%= column_chart type_dsc %>
<h2> あなたのタイプ（上位３つ）<h2>
<h3>
<%= "一つは「#{type_dsc.keys[0]}」"%><br>
<%= "一つは「#{type_dsc.keys[1]}」"%><br>
<%= "一つは「#{type_dsc.keys[2]}」"%><br>
</h3>

<h2>タイプの詳細</h2>
<h3>8つのタイプ</h3>
  <ul>
    <li class = "type">1.専門・職種別能力　◆職人</li>
    <div class = "type-box">特定の仕事に対する高い才能と意欲を持ち、専門家として能力を発揮することに満足と喜びを覚えるタイプです。
    自分の技能を応用し、技能を常に高いレベルに向上し続ける機会を大事にします。
    アイデンティティの感覚が自分の技能を実践することから生まれており、仕事で専門領域について挑戦し続けることが出来た時、
    最も喜びを感じることが出来ます。
    このタイプの人たちは、他の仕事に移ると、自分の能力があまり活かされないため、満足度が低下します。
    また、マネージャー職に対しても必ずしも魅力を感じません。マネージャーになると管理業務が主となるため、
    やはり自分の専門性が発揮できなくなるからです。
    </div>
    <li class = "type">2.経営管理能力　◆幹事</li>
    <div class = "type-box">経営者（ゼネラル・マネージャー）になることが価値あることと考え、経営者を目指すタイプです。
    部門を超えて人々の努力を統合し、担当ユニットの成果に責任を持つこと、いわゆる「出世志向」がある人たちです。
    1.の「専門・職種別」コンピタンスの人たちと異なり、専門能力の必要性は認められるものの、その専門性に特化することなく、
    企業経営に求められる全般的な能力の獲得を重視します。
    重い責務に対処するために必要な分析能力、対人スキル、対集団スキル、情報能力などを備えています。
    </div>
    <li class = "type">3.自律・独立　◆自由人</li>
    <div class = "type-box">どのような仕事であっても、自分のやり方、自分のペースを守って仕事を進めることを大切と考えるタイプです。
    従って、このタイプの人は集団駆動のための一定の規律が求められる企業組織に属することは好まず、
    独立の道を選ぶ傾向にあります。また、独立しないまでも、研究職など行動の自由度が高い職種が向いています。
    また、自律性を維持するために、昇進や出世の機会を断ることもあります。
    </div>
    <li class = "type">4.保障・安定　◆組織人</li>
    <div class = "type-box">安全・確実で、将来の変化を概ね予測でき、ゆったりとした気持ちで仕事をしたいと考えるタイプです。
    ほとんとdの人が、基本的には安定した仕事や報酬を求めます。最優先事項です。
    当然のことながら、終身雇用が期待できる企業への就職を望みます。
    財務的保障（年金や退職プランなど）と、雇用の安定です。
    </div>
    <li class = "type">5.起業家的創造性　◆新価値創造</li>
    <div class = "type-box">新しい製品、サービスを開発したり、資金を調達して組織を立ち上げたり、既存事業を買収して再建する
    といったことに燃えるタイプです。危険や障害を乗り越えていく意欲と、自分の能力だけに頼って、
    組織や企業を創造する機会と考えます。具体的には、発明家、芸術家、あるいはアントレプレナー（起業家）を
    目指す人たちが該当します。このタイプの人たちは、結果的に独立、企業する道を選びます。
    3.の「自律・独立」タイプの人と異なり、何か新しいこと（事業や作品など）を生み出すといった創造性の
    発揮を重視しています。そのためには、自律・独立性を犠牲にすることもいといません。
    </div>
    <li class = "type">6.奉仕・社会貢献　◆社会派</li>
    <div class = "type-box">何らかの形で、世の中を良くしたいという価値観を重視するタイプです。環境問題を解決すること、
    人々に調和をもたらすこと、誰かを助けること、安全性を向上させること、新製品を通じて病気を治すことなどといった、
    何か価値のあるものを実現したいと願っています。医療、介護、社会福祉、教育などの分野を目指す人が該当します。
    近年注目を集めている「社会起業家」（ソーシャル・アントレプレナー）は、社会問題を営利事業を通じて
    解決していくことを目的とする人たちです。彼らにとって大事なのは、社会貢献であり、事業を立ち上げることは、
    そのための手段に過ぎません。従って、5.の「起業家的創造性」のタイプとは志向が異なります。
    </div>
    <li class = "type">7.純粋な挑戦　◆チャレンジャー</li>
    <div class = "type-box">不可能と思えるような障害を乗り越えること、解決不能と思われてきた問題を解決することなどを追求して
    やまないタイプです。常にあえて「困難」を探し求めているため、特定の仕事や専門性にこだわりません。
    「挑戦」自体が人勢のテーマなのです。相手との競争に「純粋な挑戦」を見い出します。
    新寄性、多様性、困難が目的であり、簡単だとすぐに飽きてしまいます。
    </div>
    <li class = "type">8.生活様式　◆バランサー</li>
    <div class = "type-box">仕事と家庭生活、公的な仕事の時間と私的な個人の時間のどちらも大切にしたいと願い、両者の適切なバランスを
    考えているタイプです。仕事に打ち込む一方、例えば子供が生まれたら、育児休暇をしっかり取り、子育ても大切にする
    という生き方を積極的に志向します。ワークライフバランス（仕事とそれ以外の人生、つまり家庭や娯楽などでうまく
    バランスを取ろうという考え方）は、このタイプの人にとって一番大切なことです。
    </div>
  </ul>
