<!DOCTYPE html>
<html>
  <head>
    <title>AnalysisApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
  <header class="header">
    <div class="header__bar row">
      <% if user_signed_in? %>
          <li><%= link_to "ようこそ #{current_user.name} さん", "#", class: "header-left"%> </li>
          <div class="header-right2">
          <li><%= link_to "トップページへ", root_path, class:"header-right2"%> </li>
          </div>
          <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "header-right" %> </li>
        <% else %>
          <div class="header-right2">
          <li><%= link_to 'ログイン', new_user_session_path, class: "header-right2" %></li>
          </div>
          <li><%= link_to '新規登録', new_user_registration_path, class: "header-right" %></li>
      <% end %>
    </div>
  </header>
  <%= yield %>
   <footer>
      <p>
        AnalysisApp 2022.
      </p>
    </footer>
  </body>
</html>
